// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// 宽高
@mixin wh($width, $height){
  width: $width;
  height: $height;
}

// padding
@mixin pd($value){
  padding: $value;
}

// padding
@mixin mg($value){
  margin: $value;
}

// borderRadius
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

// 字体大小，颜色
@mixin sc($size, $color){
  font-size: $size;
  color: $color;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位上下居中
@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//渐变色
@mixin gradient {
    background: #4784ff; /* Old browsers */
    background: -moz-linear-gradient(left,  #4784ff 0%, #4784ff 1%, #7ba7ff 100%, #7ba7ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4784ff 0%,#4784ff 1%,#7ba7ff 100%,#7ba7ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4784ff 0%,#4784ff 1%,#7ba7ff 100%,#7ba7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4784ff', endColorstr='#7ba7ff',GradientType=1 ); /* IE6-9 */
}