// 全局配色
$green                     : green;
$content_bg                : #E8EBF0;
$content_title_bg          : #F7F8FA;
$border_color              : #fff;
$dashed_color              : #E4E6ED;
$bgcolor                   : #ecf0f8;
// 左侧导航 颜色配置
$sidebar_bg                : #29282E;
$sidebar_active            : #516AE5;
$sidebar_color             : #FFFFFF;
